
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

section {
    margin: 0;
}

p, h1, h2, h3, h4, button {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(102, 192, 93, 1);
    letter-spacing: 0.1em;
}