.season-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 134px;
    align-items: center;
    background-image: url(../assets/season-back.png);

    &__diam {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 721px;
        right: 114px;

        p {
            font-family: 'Prata', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
        }
    }

    &__22k {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        position: absolute;
        top: 223px;
        left: 583px;

        &__num {
            font-family: 'Prata', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
        }

        &__rub {
            width: 9.6px;
            height: 13px;
        }

        &__line2 {
            margin-left: 8px;
        }
    }

    &__line {
        position: absolute;
        top: 357px;
        left: 120px;
    }

    &__watch {
        height: 795px;
    }

    &__left-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 39px;

        &__title-container {
            display: flex;
            flex-direction: column;
            height: 95px;
            justify-content: space-between;

            h2 {
                font-family: 'Playfair Display', sans-serif;
                font-size: 45px;
                font-weight: 400;
                line-height: 60px;
            }

            h3 {
                font-family: 'Playfair Display', sans-serif;
                font-size: 30px;
                font-weight: 400;
                line-height: 40px;
            }
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            width: 240px;
        }
        button {
            background-color: #444240;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            width: 205px;
            height: 64px;
            border: none;
        }
    }
}