*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

section {
  margin: 0;
}

p, h1, h2, h3, h4, button {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: rgb(102, 192, 93);
  letter-spacing: 0.1em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 74px;
}
header .header-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .header-logo-container img {
  width: 19px;
  height: 19px;
}
header .header-logo-container h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400px;
  font-size: 12px;
  line-height: 16px;
  color: rgb(85, 82, 72);
}
header .header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 65px;
  align-items: center;
}
header .header-nav a {
  font-family: "Roboto", serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 16px;
  color: rgb(85, 82, 72);
}
header .right-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
header .right-img-container__loop {
  width: 16px;
  height: 16px;
}
header .right-img-container__heart__like {
  width: 19px;
  height: 16px;
}
header .right-img-container__buy {
  width: 18px;
  height: 16px;
}

.season-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 134px;
  align-items: center;
  background-image: url(../assets/season-back.png);
}
.season-section__diam {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 721px;
  right: 114px;
}
.season-section__diam p {
  font-family: "Prata", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.season-section__22k {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 223px;
  left: 583px;
}
.season-section__22k__num {
  font-family: "Prata", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}
.season-section__22k__rub {
  width: 9.6px;
  height: 13px;
}
.season-section__22k__line2 {
  margin-left: 8px;
}
.season-section__line {
  position: absolute;
  top: 357px;
  left: 120px;
}
.season-section__watch {
  height: 795px;
}
.season-section__left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 39px;
}
.season-section__left-container__title-container {
  display: flex;
  flex-direction: column;
  height: 95px;
  justify-content: space-between;
}
.season-section__left-container__title-container h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 60px;
}
.season-section__left-container__title-container h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.season-section__left-container p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  width: 240px;
}
.season-section__left-container button {
  background-color: #444240;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  width: 205px;
  height: 64px;
  border: none;
}

.popular-section h3 {
  margin-top: 49px;
  margin-left: 530px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: rgb(27, 26, 23);
}
.popular-section a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgb(68, 66, 64);
  margin-top: 0px;
  margin-left: 1164px;
}
.popular-section__line {
  margin-top: 11px;
  margin-left: 1164px;
}
.popular-section__items-container {
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  justify-content: center;
  align-items: center;
  margin-bottom: 86px;
}
.popular-section__items-container__item {
  display: block;
}
.popular-section__items-container__item img {
  width: 370px;
  height: 467px;
}

.quality-section {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 519px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 245, 239);
  background-image: url(../assets/lines_banner.png);
  background-position: right;
}
.quality-section__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  align-items: center;
}
.quality-section__container img {
  width: 521px;
  height: 414px;
}
.quality-section__container div {
  display: flex;
  flex-direction: column;
  gap: 38px;
  justify-content: left;
}
.quality-section__container div h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
}
.quality-section__container div p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 380px;
}
.quality-section__container div button {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: white;
  background-color: rgb(212, 176, 152);
  width: 205px;
  height: 64px;
  border: none;
}

.news-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 71px;
  height: 631px;
  padding-left: 97px;
  padding-right: 98px;
}
.news-section__left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.news-section__left__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: left;
  align-items: center;
}
.news-section__left__text h3 {
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: rgb(27, 26, 23);
}
.news-section__left__text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(68, 66, 64);
}
.news-section__left__sm {
  margin-top: 118px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
  align-items: baseline;
}
.news-section__right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.news-section__right__two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.news-section__right__two img {
  width: 242px;
  height: 228px;
}
.news-section__right__two img:last-of-type {
  height: 222px;
}
.news-section__right__one {
  width: 377px;
  height: 460px;
}

footer {
  background-color: rgb(68, 66, 64);
  height: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer .footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  justify-content: left;
  align-items: center;
}
footer .footer-logo-container img {
  width: 130px;
  height: 34.02px;
}
footer .footer-logo-container__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer-logo-container__contacts p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
}
footer .footer-company-container,
footer .footer-customer-container,
footer .footer-service-container {
  display: flex;
  flex-direction: column;
  gap: 33px;
  justify-content: left;
  margin-left: 151px;
}
footer .footer-company-container h3,
footer .footer-customer-container h3,
footer .footer-service-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: rgb(255, 255, 255);
}
footer .footer-company-container__inf,
footer .footer-customer-container__inf,
footer .footer-service-container__inf {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .footer-company-container__inf a,
footer .footer-customer-container__inf a,
footer .footer-service-container__inf a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
}/*# sourceMappingURL=style.css.map */